/* style.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111D33;
    border-bottom: 1px solid #22223A;
}

.header h1 {
    margin: 0;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-contend{
    text-align: center;
    padding: 2rem;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.secondary {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.secondary:hover {
    background-color: #ccc;
}

.login-cart {
    max-width: 300px;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: var(--pico-background-color);
}

.error, .logout {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.error {
    background-color: #e3e3e3;
    color: #d60000;
}

.logout {
    background-color: #e0ffe0;
    color: #006600;
}